[Unit]
Description=Solana RPC Node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1
EnvironmentFile=/home/{{ validator_username }}/solana-rpc.env
ExecStart=/home/{{ validator_username }}/bin/solana-rpc.sh
WorkingDirectory=/home/{{ validator_username }}/
ExecReload=/bin/kill -s HUP 
ExecStop=/bin/kill -s QUIT
LimitNOFILE={{ validator_limit_nofile|default(1000000) }}
LimitNPROC={{ validator_limit_nproc|default(1000000) }}

[Install]
WantedBy=default.target